@font-face {
    font-family: "Poppins";
    src: url("fonty/Poppins-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url("fonty/Poppins-ExtraBold.ttf");
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #1b0663;
    box-sizing: border-box;
    margin: 0;
    background: url("obrazky/pozadi.jpg") no-repeat center center fixed;
    background-size: cover;
}

u { 
    text-decoration: underline;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 1.1em; 
    font-weight: bold;
}

p {
    font-size: 18px;
}

h1 {
    text-align: center;
    font-size: 3em;
    color: #1A237E;
    text-shadow: 2px 2px 4px rgba(255, 182, 193, 0.5);
}

h2, h3 {
    text-align: center;
    color: #1A237E;
    text-shadow: 1px 1px 3px rgba(255, 182, 193, 0.4);
}

.avatar {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
}
.avatar img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 12px rgba(255, 105, 180, 0.4);
    float: right;
    padding-left: 10px;
    filter: grayscale(1);
}

.tlacitko {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.tlacitko:hover {
    background-color: #0056b3;
}
.kontakt-tlacitko {
    background: #EF6534;
    padding: 10px 20px;
    border-radius: 20px;
}
.kontakt-tlacitko:hover,
.reference-tlacitko:hover {
    filter: brightness(115%) contrast(85%);
    border: 0;
}
.reference-tlacitko {
    background: #70B73A;
    color: white;
    font-size: 0.9em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 25px 25px 25px 25px;
}

nav {
    background-color: transparent;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul a {
    display: block;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

nav ul a:hover {
    background-color: #0056b3;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#logo h1 {
    font-size: 1.5em;
    margin: 0;
    color: white;
}

h1 {
    font-size: 3.5em; /* Zvětší hlavní nadpis */
    font-weight: bold;
}

h1 span {
    font-size: 1.2em; /* Zvětší "Horová" v nadpisu */
}

small {
    font-size: 1.5em; /* Zvětší text pod nadpisem */
}
html {
    background: #414042;
}
footer {
    box-sizing: border-box;
    text-align: center;
    height: 100px;
    color: white;
    background: #414042;
    padding: 50px 0 0 0;
    clip-path: polygon(0 30px, 100% 0, 100% 105%, 0 105%);
}
footer a {
    color: white;
    text-decoration: none;
}
body > header {
    height: 100px;
    width: 100%;
    background: #00386B;
    color: white;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1;
    top: 0;
}
article {
    margin: 0 auto;
    max-width: 960px;
    padding: 50px 50px 10px 50px;
}
body {
    font: 16px "Poppins";
    background: url("obrazky/pozadi.jpg")
    color: #414042;
    box-sizing: border-box;
    margin: 0;
    padding: 100px 0px 0px 0px;
    min-width: 960px;
}